.red{
    color: red;
}
.orange{
    color: orange;
}
.yellow{
    color: yellow;
}
.green{
    color: green;
}
.blue{
    color: blue;
}
.light{
    color: yellowgreen;
}
.violet{
    color: violet;
}
.pink{
    color: pink;
}
.brown{
    color: brown;
}
.black{
    color: black;
}
